image: python:3.10-slim

stages:
  - build
  - test
  - deploy

variables:
  PIP_CACHE_DIR: "$CI_PROJECT_DIR/.cache/pip"

cache:
  paths:
    - .cache/pip

build_job:
  stage: build
  script:
    - echo "Installing dependencies..."
    - python -m venv venv
    - source venv/bin/activate
    - pip install -r requirements.txt
  artifacts:
    paths:
      - venv/
    expire_in: 1 hour

unit_test_job:
  stage: test
  script:
    - echo "Running unit tests..."
    - source venv/bin/activate
    - pytest --junitxml=report.xml
  artifacts:
    when: always
    paths:
      - report.xml
    reports:
      junit: report.xml
      
deploy_to_prod:
  stage: deploy
  # Используем формат списка в одну строку [ ... , ... ]
  # Тут пробелы и отступы не сломают пайплайн
  script: ["echo Starting deploy...", "echo Deploying to $PROD_SERVER_IP...", "echo Using token: $PROD_API_TOKEN"]
  rules:
    - if: $CI_COMMIT_BRANCH == "main"