image: python:3.10-slim

stages:
  - build
  - test
  - deploy_staging
  - deploy_prod

variables:
  PIP_CACHE_DIR: "$CI_PROJECT_DIR/.cache/pip"

cache:
  paths:
    - .cache/pip

# --- BUILD STAGE ---
build_job:
  stage: build
  script:
    - echo "Installing dependencies..."
    - python -m venv venv
    - source venv/bin/activate
    - pip install -r requirements.txt
  artifacts:
    paths:
      - venv/
    expire_in: 1 hour

# --- TEST STAGE ---
unit_test_job:
  stage: test
  script:
    - echo "Running unit tests..."
    - source venv/bin/activate
    - pytest --junitxml=report.xml
  artifacts:
    when: always
    paths:
      - report.xml
    reports:
      junit: report.xml

integration_test_job:
  stage: test
  script: ["echo Running integration tests..."]

# --- DEPLOY STAGING (Автомат для main) ---
deploy_staging:
  stage: deploy_staging
  environment:
    name: staging
  script: ["echo Deploying to Staging Environment..."]
  rules:
    - if: $CI_COMMIT_BRANCH == "main"
      when: on_success

# --- DEPLOY PRODUCTION (Ручной для main) ---
deploy_production:
  stage: deploy_prod
  environment:
    name: production
  script: 
    - echo "Deploying to Production Server $PROD_SERVER_IP..."
    - echo "Using token $PROD_API_TOKEN"
  rules:
    - if: $CI_COMMIT_BRANCH == "main"
      when: manual